<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/src/img/Logo.png">
    <link rel="stylesheet" href="/src/css/forms/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>
</head>
<body>
    <div class="login-box">
        <p class="message">Vous serez bloqué après 3 tentatives infructueuses.</p>

        <form id="loginForm" action="/auth/login" method="post">
            <div class="user-box">
                <input type="email" name="email" id="email" required>
                <label>Adresse mail</label>
                <div class="error-message" id="emailError">Veuillez entrer une adresse email valide.</div>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="password" required>
                <label>Mot de passe</label>
                <div class="error-message" id="passwordError">Veuillez entrer votre mot de passe.</div>
            </div>
            
            <div class="stay-connected">
                <input type="checkbox" id="stayConnected" name="stayConnected">
                <label for="stayConnected">Rester connecté</label>
            </div>

            <div>
                <button type="submit">Se Connecter</button>
            </div>
        </form>

        <div class="forgot-password">
            <a href="forgot.html">Mot de passe oublié ?</a>
        </div>
    </div>
  </body>
</html>
