php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Europe/Paris
# Ajouter le type MIME pour les fichiers JSON
AddType application/manifest+json .json
# Ajouter le type MIME pour les fichiers JavaScript
AddType application/javascript .js
# DirectoryIndex (non modifié)
DirectoryIndex loading.html index.php
ErrorDocument 404 https://sysmiproject.000.pe/Import/Error/not_found.html
