<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/src/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="/src/css/forms/add_pdp.css">
    <title>Formulaire d'Upload</title>
</head>
<body>
    <div class="container">
        <h1>Formulaire d'Upload</h1>
        <form action="/settings/upload" method="POST" enctype="multipart/form-data">
            <label for="photo">Sélectionnez une photo :</label>
            <input type="file" name="photo" id="photo" required>
            <input type="submit" value="Télécharger">
        </form>
    </div>
</body>
</html>
