<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="icon" href="/src/img/icn/Logo.png" type="image/png">
    <link rel="stylesheet" href="/src/css/navbar.css">
    <link rel="stylesheet" href="/src/css/views/shop.css">
</head>
<body>

<div class="navbar">
    <div class="navbar-logo">
        <a href="/">
            <img src="/src/img/icn/Logo.png" alt="Logo La SYSMI PROJECT" class="logo">
        </a>
    </div>
</div>

<h1 style="text-align: center; margin-top: 20px;">Boutique</h1>

<div class="container">
    <% if (produits.length > 0) { %>
        <% produits.forEach(produit => { %>
            <div class="card">
                <% if (produit.image) { %>
                    <img src="data:image/jpeg;base64,<%= Buffer.from(produit.image).toString('base64') %>" alt="<%= produit.nom %>">
                <% } else { %>
                    <p>Image non disponible</p>
                <% } %>
                <div class="info">
                    <h2><%= produit.nom %></h2>
                    <p class="price"><p class="price"><%= parseFloat(produit.prix).toFixed(2) %> €</p>
                </div>
                <button class="btn">Échanger</button>
            </div>
        <% }) %>
    <% } else { %>
        <p style="text-align: center;">Aucun produit disponible pour le moment.</p>
    <% } %>
</div>

</body>
</html>
